<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OCFR Certifications</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/site.css">
</head>

<div class="container">
  <div class="row">
    <div id="mainContent" class="col-md">
      <div id="patientRecordsApp">
        <form @submit.prevent="handleSubmit">
          <div class="form-group row">
            <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" v-model="recordPatient.firstName">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" v-model="recordPatient.lastName">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputDob" class="col-sm-2 col-form-label">DOB</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="inputDob" placeholder="2001-12-13" v-model="recordPatient.dob">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputSexAtBirth" class="col-sm-2 col-form-label">Sex At Birth</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputSexAtBirth" placeholder="M|F" v-model="recordPatient.sexAtBirth">
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Create Patient Record</button>
            </div>
          </div>
        </form>

        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>GUID</th>
              <th>First</th>
              <th>Last</th>
              <th>DOB</th>
              <th>SAB</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="p in patients" @click="handleRowClick(p)">
              <td>{{ p.patientGuid }}</td>
              <td>{{ p.firstName }}</td>
              <td>{{ p.lastName }}</td>
              <td>{{ p.dob }}</td>
              <td>{{ p.sexAtBirth }}</td>
            </tr>
          </tbody>
        </table>

      </div>

</html>
