<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OCFR Certifications</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/site.css">
</head>

<body>
  <div id="hdr">
    <page-header></page-header>
  </div>
  <div><br><br><br></div>
  <h1>Certifications </h1>
  <br>
  <p1>Select a certification from table below to view lists of users that are active and inactive for the selected certification. You can also add a new certification below.</p1>
    <br><br><hr><br>
  <div class="container">
    <div class="row">
      <div id="mainContent" class="col-md">
        <div id="certsRecordsApp">

          <form @submit.prevent="handleSubmit">

            <!-- <div class="form-group row">
              <label for="inputCertID" class="col-sm-2 col-form-label">Certification ID</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputCertID" placeholder="e.g. CERT-0001" v-model="recordCert.certification_id">
              </div>
            </div> -->

            <div class="form-group row">
              <label for="inputCertName" class="col-sm-2 col-form-label">Certification Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputCertName" placeholder="e.g. HAZMAT" v-model="recordCert.certification_name">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputCertAgency" class="col-sm-2 col-form-label">Certifying Agency</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputCertAgency" placeholder="e.g. NFPA" v-model="recordCert.certifying_agency">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputDoe" class="col-sm-2 col-form-label">Default Expiration Period</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="inputCertDoe" placeholder="2020-12-19" v-model="recordCert.default_exp_period">
              </div>
            </div>


<br>

            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" v-if="mode === 'add'" class="btn btn-primary">Add New Certification</button>
                <button type="submit" v-if="mode === 'update'" class="btn btn-primary">Update Certification</button>
              </div>
            </div>


          </form>
<br><hr>

          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th>Certification ID</th>
                <th>Certification Name</th>
                <th>Certifying Agency</th>
                <th>Default Expiration Date</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="c in certs">
                <td> {{c.certification_id}} </td>
                <td> {{c.certification_name}} </td>
                <td> {{c.certifying_agency}} </td>
                <td> {{c.default_exp_period}} </td>
                <td><button v-on:click="updateCert(c)" class="btn btn-primary">Edit</button> </td>
                <td><button v-on:click="deleteCert(c)" class="btn btn-primary">Delete</button></td>
              </tr>
            </tbody>
          </table>

        </div>
  <div id="ftr">
    <page-footer></page-footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="../js/components/hdrComp.js"></script>
  <script src="../js/components/ftrComp.js"></script>
  <script src="../js/certs.app.js"></script>

</body>

</html>
