<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OCFR Members</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/site.css">
</head>

<body>
  <div id="hdr">
    <page-header></page-header>
  </div>
<h1>Members with Expired Certifications </h1>
<p1> Here you can view all members with expired certifications</p1>
<br><br><hr><br>

<div class="container">
  <div class="row">
    <div id="mainContent" class="col-md">
      <div id="membersExpCertsApp">
        <br>
        <hr>
        <div class="filter">
              <select v-model="filter.certification_name">
                <option value="">(all)</option>
                <option>CFPS</option>
                <option>CPR</option>
                <option>CFI</option>
                <option>EMT</option>
                <option>POST</option>
              </select>
          </div>
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Member ID</th>
              <th>First</th>
              <th>Last</th>
              <th>Certification Name</th>
              <th>Expiration Date</th>
              <th>Expiration Status</th>
          </thead>
          <tbody>
            <tr v-for="mec in memExpCerts" @click="handleRowClick(mec)"
            v-show="filter.certification_name=='' || filter.certification_name==mec.certification_name">
              <td> {{mec.member_id}} </td>
              <td> {{mec.first_name}} </td>
              <td> {{mec.last_name}} </td>
              <td> {{mec.certification_name}} </td>
              <td> {{displayWaitingLocalDate(mec.date_of_exp)}}</td>
              <td>{{ displayWaitingSince(mec.date_of_exp) }}</td>
            </tr>
          </tbody>
        </table>

      </div>
      </div>
      </div>
      </div>

      <div id="ftr">
        <page-footer></page-footer>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
      <script src="../js/components/hdrComp.js"></script>
      <script src="../js/components/ftrComp.js"></script>
      <script src="../js/expCerts.app.js"></script>
    </body>

      </html>
