<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OCFR Members</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/site.css">
</head>

<body>
  <div id="hdr">
    <page-header></page-header>
  </div>
<h1>Show Members that have been Certified</h1><br>
<p1> Here you can view all members that have ever had a certification. Select a Certification from the dropdown below.
The table below will show members that have had that certification and whether their certification status is active or expired.</p1>
<br><br><hr><br>

<div class="container">
  <div class="row">
    <div id="mainContent" class="col-md">
      <div id="membersContactApp">

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose a Certification
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">CFPS</a>
            <a class="dropdown-item" href="#">CPR</a>
            <a class="dropdown-item" href="#">CFI</a>
            <a class="dropdown-item" href="#">EMT</a>
            <a class="dropdown-item" href="#">POST</a>
          </div>
        </div>

        //<option>CFPS</option>
        <option>CPR</option>
        <option>CFI</option>
        <option>EMT</option>
        <option>POST</option>//
        <br>
        <hr>


        <div class="filter">
              <select v-model="filter.cert_status">
                <option value="">(all)</option>
                <option>Active</option>
                <option>Expired</option>
              </select>
          </div>

        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Member ID</th>
              <th>First</th>
              <th>Last</th>
              <th>Certification Status</th>

          </thead>


          <tbody>
            <tr v-for="mce in memCerts" @click="handleRowClick(mce)"
            v-show="filter.station=='' || filter.station==mc.station">
              <td> {{mce.member_id}} </td>
              <td> {{mce.first_name}} </td>
              <td> {{mce.last_name}} </td>
              <td> {{mce.cert_status}}</td>


              <!-- <td>MEM-111-0001</td>
              <td>John</td>
              <td>Peters</td>
              <td>Station 1</td>
              <td>Active</td>
              <td>267</td>
              <td>   <button type="submit" class="btn btn-primary">Edit</button></td>
              <td>   <button type="submit" class="btn btn-primary">Delete</button></td> -->
            </tr>
            <!-- <tr>
              <td> MEM-111-0002 </td>
              <td> Steven </td>
              <td> Finnigan </td>
              <td> Station 1 </td>
              <td> Active </td>
              <td> 268 </td>
              <td>   <button type="submit" class="btn btn-primary">Edit</button> </td>
              <td>   <button type="submit" class="btn btn-primary">Delete</button></td>
            </tr> -->
          </tbody>
        </table>

      </div>
      <div id="ftr">
        <page-footer></page-footer>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="../js/components/hdrComp.js"></script>
      <script src="../js/components/ftrComp.js"></script>
      <script src="../js/contact.app.js"></script>
    </body>

      </html>
